<div class="form-style">
	<h2>Short your URL</h2>
	<%= form_tag action: 'create', method: :post do %>
		<%= text_field_tag :search %>
		<%= submit_tag "Submit", class: "btn btn-primary" %>
	<% end %>
	<br><span> Write in the form (www.xyz.com Or http://www.abc.com)</span>
</div>